</br>
<div class='row'>
  <div class='col s4 landing-page-column offset-s4' id='landing-column'>
    <div class="card">
      <div class="card-image">
        <img id='andy-pic' src="me.jpeg">
        <span class="card-title">That's me! &uarr;</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons" id='landing-card-button'>add</i></a>
      </div>
      <div class="card-content">
        <p>Former paramedic turned software developer; tinker-er; pun-lover; always enthusiastic</p>
      </div>
    </div>
  </div>
  <div class="col s12 m7 push-s8">
        <div class="card-panel landing-panel">
          <p class="white-text">My name's Andrew. I'm a software developer who
               came to the industry from the exciting world of Emergency Medical
                Services where I worked as a Paramedic for 7 interesting years.
                The transition to attending the Turing Schools Back End program was
                intimidating at times, but there's not a thing I would change about
                the experience.</p>
          <p class='white-text'>
                Complicated problems are my favorite kind, especially if they let
                me to learn new techniques to solve them. When there's no project on
                deck, I can be found just about anywhere out and about looking around
                and meeting interesting people. If you'd like to talk, my contact
                information is below. Always happy to help with a problem, go hiking, or just
                grab lunch and chat.
          </p>
        </div>
      </div>
</div>
