</br>
<div class="row">
    <div class="col s8 m4">
      <div class="card past">
        <div class="card-image">
          <img id='paramedic-photo'src="paramedic-andy.jpeg">
          <span class="card-title">Where I Was</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons bio-button">add</i></a>
        </div>
        <div class="card-content bio-content">
          <p>I completed my undergrad majoring in Emergency Medical Care with a
             concentration in science. From there I went to work in Charlotte
             North Carolina. In my work, I gained invaluable experience in leadership,
             communication, and stress management. I completed a year-long cohort-style
             Leadership Development Academy, trained students and new employees, and contributed
             to research efforts in the area of pediatric emergency care.
          </p></br>
          <p>While I'll be forever grateful for the experiences that functioning
             as a paramedic granted me, I chose in July 2016 to leave the profession
             and pursue a career in software development. This required a good
             bit of planning as a cross-country move and planning for a return
             to school life for 7 months was necessary. I set out on a cross-country
             drive with nothing but excitement for what was to come.
          </p>
        </div>
      </div>
    </div>
    <div class="col s8 m4">
      <div class="card turing">
        <div class="card-image">
          <img id='hiking-pic' src="mallory-cave.jpeg">
          <span class="card-title">Where I Went</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons bio-button">add</i></a>
        </div>
        <div class='card-content bio-content'>
          <p>
            The drive was 24 hours 19 minutes(I was two minutes away from beating
            the GoogleMaps estimate!), and it was exciting to get to see, if briefly,
            every portion of the country visible from I-70; albeit Kansas was fairly
            monotonous (corn..oil..windmill..repeat).
          </p>
          </br>
          <p>
            I completed the 7 month Back End Engineering program offered at the
            Turing School of Software and Design. The program was rigorous and
            more challenging than my previous educational endeavors, but it was
            completely worth it to get the opportunity to dive head-first into
            a new and exciting field. I'm ecstatic to have my present skillset
            and even more excited to put my skills to use and add to them.
          </p>
        </div>
      </div>
    </div>
    <div class="col s8 m4">
      <div class="card present">
        <div class="card-image">
          <img id='goldbeard' src="goldbeard.jpeg">
          <span class="card-title">Where I Am</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons bio-button">add</i></a>
        </div>
        <div class='card-content bio-content'>
          <p>
            During my time at Turing, I made time to deliver multiple student-learning
            sessions covering communication, RSpec, and stress management. I will always
            be passionate about and find my happiness in the service of others.
          </p>
        </br>
          <p>
            The week following graduation was extremely exciting as an effort I led
            to have Turing represented at Denver PrideFest 2017 came to fruition. A fellow
            student and I paired on the problem and created a partnership between a NPO he
            is involved with, PAVES, and Turing. It was a phenomenal event, and I'm proud
            to have played such a role in the planning and execution of Turings participation.
          </p>
        </br>
          <p>
            I'm actively seeking new employment opportunities. Besides that, I'm
            presently wittling away at a personal project, and I'm spending
            time at Turing to be available in the community for assistance and advice.
            I remain excited to begin taking the next steps in my new life. In my down-time,
            I've been working to explore the mountains in the area, catch up on my
            graphic novel reading, and playing board games with my brothers.
          </p>
        </div>
      </div>
    </div>
  </div>
