<footer class="page-footer">
  <div class="row">
    <div class='col s3 center'>
      <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/andrew-wooten/"><img class="piclink" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png"/>
      </a>
    </div>
    <div class='col s3 center'>
      <a class="grey-text text-lighten-3" href="mailto:andrewdwooten@icloud.com"><img class="piclink" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-email-128.png"/>
      </a>
    </div>
    <div class='col s3 center'>
      <a class="grey-text text-lighten-3" href="https://www.github.com/andrewdwooten"><img class="piclink" src="http://www.pymamba.com/assets/octocat.png"/>
      </a>
    </div>
    <div class='col s3 center'>
      <a class="grey-text text-lighten-3" href="https://www.turing.io/alumni/andrew-wooten"><img class="piclink" src="http://simpleicon.com/wp-content/uploads/gear.svg"/>
      </a>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
</footer>
